@model InMemeoryTest.Models.RegisterModel
 
<h2>Регистрация</h2>
 
<form asp-action="Register" asp-controller="Auth" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <div>
            <label asp-for="Email">Введите Email</label><br />
            <input type="text" asp-for="Email" />
        </div>
        <div>
            <label asp-for="FirstName">Введите FirstName</label><br />
            <input type="text" asp-for="FirstName" />
        </div>
        <div>
            <label asp-for="LastName">Введите LastName</label><br />
            <input type="text" asp-for="LastName" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Повторите пароль</label><br />
            <input asp-for="ConfirmPassword" />
        </div>
        <label>Паспортные данные</label>
        <div>
            <label asp-for="Series">Введите серию</label><br />
            <input type="number" asp-for="Series" />
        </div>
        <div>
            <label asp-for="Number">Введите номер паспорта</label><br />
            <input type="number" asp-for="Number" />
        </div>
        <div>
            <label asp-for="IssuePlace">Введите место выдачи</label><br />
            <input type="text" asp-for="IssuePlace" />
        </div>
        <div>
            <input type="submit" value="Регистрация" />
        </div>
    </div>
</form>