@model IEnumerable<InMemeoryTest.Models.Inventory> 
@{ 
    ViewData["Title"] = "Список"; 
} 

@foreach (var i in Model) 
   { 
        <div class="col-sm-4 col-lg-4 col-md-4"> 

            <div class="thumbnail"> 
                <div class="caption"> 
                    <h3> <a>@i.Type</a> </h3> 
                    <h3> <a>@i.Count</a> </h3> 
                    <h3> <a>@i.MinTime</a> </h3> 
                    <p class="btn btn-group pull-left">
                    @using (Html.BeginForm("Booking", "Rent", FormMethod.Post, new {enctype = "multipart/form-data"}))
                    {
                        <input type="hidden" class="form-control" name="id" value="@i.Id">
                        <input type="number" class="form-control" name="count" aria-label="Count">
                        <div class="buttons-block">
                            <div class="radio-container">
                                <div class="form-item radio-btn nth-2">
                                    <input name="isReserved" type="radio" value="true"/>
                                    <span>Забронировать</span>
                                </div>
                                <div class="form-item radio-btn nth-2">
                                    <input name="isReserved" type="radio"/>
                                    <span>Забронировать</span>
                                </div>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Отправить"/>
                    }
                    </p> 
                </div> 
            </div> 
        </div> 
    } 