@model IEnumerable<InMemeoryTest.Models.Contract>

@foreach (var contract in Model)
{
    <h2>@contract.InventoryType</h2>
    <h2>@contract.Count</h2>
    <a href="~/Rent/FinishRent/@contract.Id">Завершить бронь</a>
}