@model IEnumerable<InMemeoryTest.Models.Contract>

@foreach (var cin in Model)
{
    <h1>@cin.Cost</h1>
    <h1>@cin.Count</h1>
    <h1>@cin.IsReserved</h1>
    <h1>@cin.InventoryType</h1>
    <h1>@cin.RentBeginning</h1>
    <h1>@cin.RentEnding</h1>
}