@model IEnumerable<InMemeoryTest.Models.Client>

<h5>@Model.Count()</h5>

@foreach (var user in Model)
{
    <h6>@user.Id</h6>
    <h6>@user.FirstName</h6>
    <h6>@user.LastName</h6>
    <h6>@user.Series</h6>
    <h6>@user.Email</h6>
}