@model InMemeoryTest.Models.Client
@{
    ViewBag.Title = "Редактирование смартфона";
}
<form asp-action="EditClient" asp-controller="Home" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="FirstName" class="control-label">Name</label>
        <input type="text" asp-for="FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label">LastNAme</label>
        <input type="text" asp-for="LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Series" class="control-label">Series</label>
        <input type="number" asp-for="Series" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Number" class="control-label">Number</label>
        <input type="number" asp-for="Number" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IssuePlace" class="control-label">Place</label>
        <input type="text" asp-for="IssuePlace" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IssueDateTime" class="control-label">Date</label>
        <input type="number" asp-for="IssueDateTime" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Send" class="btn btn-default" />
    </div>
</form>
