﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="~/Home/AddUser">Add</a>
    <a href="~/Home/Database">ShowDatabase</a>
    <a href="~/Home/EditClient">Edit</a>
    <a href="~/Rent/Index">Inventory</a>
    @using (Html.BeginForm("Contracts", "Home", FormMethod.Post))
    {
        <input type="date" name="start"/>
        <span>StartTime</span>
        <input type="date" name="end"/>
        <span>EndTime</span>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
